html{
    background-color: rgb(255, 245, 205);
    padding: 1em;
}

.container{
    max-width: 760px;
    margin: 0 auto;
}


#self{
    float: right;
    padding: .5em;
}

body p{
    line-height: 1.7em;
    font-size: 1.1em;
    
}

body nav{
    text-decoration: none;
    text-align: center;
    border:2px solid rgba(0,0,0,0.1);
    background-color: lightblue;
    font-size: large;
    padding: 10px;
}

body nav a:link{
    color: blue;
}

body nav a:visited{
    color: black;
}

body nav a:hover{
    color: yellow;
    background: forestgreen;
}