html{
    background-color: rgb(255, 245, 205);
    padding: 1em;
}

#self{
    float: right;
    padding: .5em;
}

body nav{
    text-decoration: none;
    text-align: center;
    border:2px solid rgba(0,0,0,0.1);
    background-color: rgb(129 129 231);
    font-size: large;
    padding: 10px;
}

body nav a:link{
    color: lime;
}

body nav a:visited{
    color: white;
}

body nav a:hover{
    color: white;
    background: orange;
}