html{
    background-color: rgb(250, 237, 183);
}

h1, h2, h3, h4, h5, h6{
    font-family: serif;
}

header img{
    height: 500px;
    float: right;
    padding: 1em;
}

p{
    font-family: sans-serif;
    line-height: 1.5em;
}

/* body p{
    text-align: center;
    
} */

.container{
    max-width: 960px;
    margin: 0 auto;
}

nav u li a{
    text-decoration: none;
    font-size: 1.8em;
    padding: 1.6em;
}

nav ul li a:link{
    color: navy;
}

nav ul li a:visited{
    color: #1466E0;
}

nav ul li a:hover{
    color: white;
    background: purple;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }